<!--头部导航栏-->
<template>
    <div class="nav-bg">
        <main class="nav-content">
            <div :style="menuStyle"></div>
            <div :style="logoStyle"></div>
            <div :style="titleStyle"></div>
            <div class="menu-list">
                <div class="box" v-for="(item,index) of menuList" :key="item.value">
                    <div class="line" v-if="index===0"></div>
                    <div class="menu-item" :class="[item.value===checkedMenu?'checked-style':'']">
                        <span @click="toHref(item.url)">{{item.label}}</span>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <UserInfo/>
        </main>
    </div>
</template>

<script>
    import Logo from '../../assets/navImg/logo.png'
    import NavImg from '../../assets/navImg/nav-menu.png'
    import NavTitle from '../../assets/navImg/nav-title.png'
    import {menuList} from "../../assets/datas/MenuDatas";
    import UserInfo from "./component/UserInfo";

    export default {
        name: "Navber",
        props: {
            checkedMenu: {
                default: '1'
            }
        },
        data() {
            return {
                menuList: menuList,
                checked: '',
                logoStyle: {},
                menuStyle: {},
                titleStyle: {},
            }
        },
        created() {
            this.initStyle();
        },
        components: {UserInfo},
        methods: {
            toHref(url) {
                window.location.href = url
            },
            initStyle() {
                this.menuStyle = this.getPositionStyle('30px', '30px', NavImg, '16px 16px');
                this.logoStyle = this.getPositionStyle('42px', '42px', Logo, '13px 13px');
                this.titleStyle = this.getPositionStyle('50px', '247px', NavTitle, '10px 10px');
            },
            getPositionStyle(h, w, url, mg) {
                return {
                    width: w,
                    height: h,
                    backgroundImage: `url(${url})`,
                    backgroundSize: '100% 100%',
                    margin: mg,
                }
            }
        }
    }
</script>

<style lang="less" scoped>
    @import "../../assets/style/variables";

    .nav-bg {
        height: 68px;
        width: 100%;
        line-height: 68px;
        background-image: url("../../assets/navImg/nav-bg.png");
        background-repeat: no-repeat;

        .nav-content {
            display: flex;
            position: relative;
        }

        .position {
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .menu-list {
            margin-left: 100px;
            display: flex;

            .box {
                display: flex;
            }

            .menu-item {
                margin: 0 0 !important;
                width: 198px;
                height: 62px;
                /*background: pink;*/
                color: #FFFFFF;
                text-align: center;
                font-size: @title-nav;
                cursor: pointer;
            }

            .checked-style {
                width: 198px;
                color: @lineColorContent;
                /*background: pink;*/
                background-image: url("../../assets/navImg/menu-checked.png");
                /*background-repeat: no-repeat;*/
                /*transform: translateX(-20px);*/
                //.position()
            }

            .line {
                display: inline-block;
                height: 20px;
                width: 1px;
                margin: 24px 0;
                background: @lineColor;
            }
        }


    }
</style>
