<template>
    <!--日期选择-->
    <div :class="['dapick', {'dapick2': datePickerType==='daterange'}]" :style="boxColor">
        <div class="full-div showDiv">
            <span>{{showValue}}</span>
            <i class="icon"></i>
        </div>
        <div class="d-box cp">
            <DatePicker
                    v-model="value1"
                    :clearable="false"
                    :type="datePickerType"
                    :picker-options="pickerOptions"
                    :value-format="formatType"
                    start-placeholder=""
                    end-placeholder=""
            />
        </div>
    </div>
</template>

<script>
    import {DatePicker} from 'element-ui'

    export default {
        name: '',

        mixins: [],

        components: {
            DatePicker
        },

        props: {
            formatType: {
                type: String,
                default: 'yyyy-MM-dd' // yyyy-MM 月格式
            },
            noborder: {
                default: false,
            },
            value: [String],
            lineColor: {
                type: String
            }
        },

        data() {
            return {
                value1: '',
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now()
                    }
                },
                showValue: ''
            }
        },

        computed: {
            datePickerType() {
                return 'date'
            },
            boxColor: function () {
                return {
                    border: '1px solid' + this.lineColor
                }
            }
        },

        watch: {
            value(newValue, oldValue) {
                console.log(newValue, oldValue);
                this.value1 = newValue
            },
            value1(n, o) {
                console.log(n, o);
                this.init();
                this.$emit('update:value', this.value1)
            }
        },

        created() {
        },

        mounted() {
            this.value1 = this.value
            this.init()
        },

        destroyed() {
        },

        methods: {
            init() {
                this.showValue = this.value1
            },
            // 点击后获得焦点, 层级下去, 下次点击同样位置 日期选择器就会失去焦点消失
            focusEve() {
                this.zIdx = -1
            },
            blurEve() {
                this.zIdx = 10
            }
        }
    }
</script>

<style lang='less' scoped>

    .dapick {
        width: 188px;
        height: 39px;
        border: 1px solid #ffff87;
        font-size: 21px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(254, 254, 254, 1);
        line-height: 39px;
        background:linear-gradient( rgba(14, 51, 114, 0.8),rgba(14, 51, 114, 0.6), rgba(1, 234, 251, 0.4)) ;
        /*background-image: linear-gradient(to bottom, #0051b5, #01eafb);*/
        border-radius: 10px;

        position: relative;
    }

    .dapick2 {
        width: 290px;
    }

    .showDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 17px 0px;

        span {
            position: absolute;
            left: 50px;
            top: 0;
            color: #9FD7FF;
        }
    }

    .icon {
        position: absolute;
        top: 20%;
        left: 5px;
        width: 30px;
        height: 30px;
        background: url("../assets/navImg/rq.png") no-repeat;
        background-size: 100% 100%;
    }

    .d-box {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }


</style>
