
.el-table tr, .el-table th {
    background-color: rgba(97, 223, 255, 0.2) !important;
    color: #fff !important;
}

.el-table .double-bg {
    background: rgba(4, 40, 72, 1) !important;
}

.el-table .single-bg {
    background-color: rgba(4, 40, 72, 0.2) !important;
}

.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
    background: rgba(255, 255, 255, 0.2) !important;
}

.el-table {
    background-color: rgba(4, 40, 72, 0.2) !important;
    color: #9FD7FF !important;
}

.el-picker-panel {
    background: rgba(14, 51, 114, 0.6) !important;
    /*background-image: linear-gradient(to bottom , rgba(0,81,181,1), rgba(1,234,251,0.8)) !important;*/
    border: 1px solid #00E6F8 !important;
    color: #ffffff !important;
}

.el-date-picker__header-label{
    color: #00E6F8 !important;
}
.el-date-table th {
    color: #00E6F8 !important;
}
.el-picker-panel__icon-btn{
    color: #ffffff !important;
}
.el-date-table td.current:not(.disabled) span{
    background: #00E6F8 !important;
}
.el-date-table td.today span{
    color: #00E6F8 !important;
}
.el-date-table td.disabled div{
    background: rgba(14, 51, 114, 0.8) !important;
}
.el-date-table td.available:hover {
    color: #00E6F8 !important;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {

    border-bottom-color: #00E6F8 !important;
}
.el-date-table td.end-date span, .el-date-table td.start-date span {
    background-color: #00E6F8 !important;
}
.el-date-table td.in-range div{
    background: #F5C605 !important;
}
/*滚动条样式*/
::-webkit-scrollbar {
    width: 10px;
    /*height: 4px;*/
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#9FD7FF ;
    /*-webkit-box-shadow: inset 0 0 5px #9FD7FF;*/
    /*background: rgba(0, 0, 0, 0.2);*/
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 5px #9FD7FF;*/
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);

}


