<template>
    <ScreenBox>
        <header>
            <NavberInfo/>
        </header>
        <main class="bg">
            <Map :map-id="'mapTest'"
                 :map-h="'1012px'"
                 :map-w="'1920px'"
                 style="position: absolute"
                 ref="myMapInfo"
                 @getArea="getPosition"
                 @getIconInfo="getIconInfo"
            />
            <div class="left">
                <BaseBox :content-h="'46px'" :content-w="titleW">
                    <div class="main-title">{{titleVal}}</div>
                </BaseBox>
                <div class="return-box" v-if="checkPosition!=='广东省'">
                    <div class="return-button" @click="returnGuangDong"><i class="el-icon-back"/></div>
                </div>
                <div class="time-box">
                    <DatePicker class="date-picker" :line-color="'#00E6F8'" :value.sync="nowTime"/>
                </div>
                <div style="margin-top: 20px">
                    <MarkerCard v-for="(item,index) of markerNavList"
                                :key="item.name"
                                :name="item.name"
                                :value="item.value"
                                :icon-path="item.iconPath"
                                :is-checked="item.isChecked"
                                @click.native="checkOrUnCheck(item.name,item.content,item.iconPath,index)"/>
                </div>


            </div>
            <div class="right">
                <ContentBox :title="'实时人口'" :content-h="'220px'">
                    <MyTable :table-header="tableHeader" :table-data="tableData" :firstIndex="false"/>
                </ContentBox>
                <ContentBox :title="'实时客流分析'" :content-h="'180px'" style="position:relative">
                    <div class="time-box">
                        <DateRangePicker class="date-range-picker" :value.sync="timeRange"
                                         :line-color="'rgba(0,0,0,0)'"/>
                    </div>
                    <LineAndBarChart
                            :chart-id="'nowChart'"
                            :list="populationInfo.list"
                            :chart-h="populationInfo.chartH"
                            :chart-w="populationInfo.chartW"
                            :chart-x="populationInfo.dataX"
                            :options="populationInfo.options"
                    />
                </ContentBox>
                <ContentBox :title="'人口洞察'" :content-h="'65px'">
                    <main class="box-style">
                        <LineBox :title="'日总旅客量'" :value="peopleInfo.travelersNum+'人'"/>
                        <LineBox :title="'到达旅客量'" :value="peopleInfo.arrivalNum+'人'"/>
                        <LineBox :title="'出发旅客量'" :value="peopleInfo.leaveNum+'人'"/>
                    </main>
                </ContentBox>
                <BaseBox :content-h="'280px'">
                    <header class="header-top">
                        <!--来源洞察-->
                        <div class="left-chart">
                            <LodingChart :chart-id="'commonIn'" :title="'来源洞察'" :left-data="lyInfo.left"
                                         :right-data="lyInfo.right" :colors="['#20FF92','#FF795E']"/>
                        </div>
                        <div class="line"></div>
                        <!--去向洞察-->
                        <div class="right-chart">
                            <LodingChart :chart-id="'commonOut'" :title="'去向洞察'" :left-data="qxInfo.left"
                                         :right-data="qxInfo.right" :colors="['#1CBCF9','#FF6294']"/>
                        </div>
                    </header>
                    <main class="button-change">
                        <div class="flexed">
                            <div class="title-button" :class="[checked===1?'checked':'un-checked']"
                                 @click="handleChange(1)">来源TOP10
                            </div>
                            <div class="title-button" :class="[checked===2?'checked':'un-checked']"
                                 @click="handleChange(2)">去向TOP10
                            </div>
                        </div>
                        <div class="title-line">
                            <div class="triangle-style" :style="{left:checked===1?'185px':'345px'}"></div>
                        </div>

                    </main>
                    <!--来源TOP10和去向TOP10图表-->
                    <footer>
                        <!--来源TOP10-->
                        <LineAndBarChart
                                v-show="checked===1"
                                :chart-id="'lyBarChart'"
                                :list="lyTopInfo.list"
                                :chart-h="lyTopInfo.chartH"
                                :chart-w="lyTopInfo.chartW"
                                :chart-x="lyTopInfo.dataX"
                                :options="lyTopInfo.options"
                        />
                        <!--去向TOP10-->
                        <LineAndBarChart
                                v-show="checked===2"
                                :chart-id="'qxBarChart'"
                                :list="qxTopInfo.list"
                                :chart-h="qxTopInfo.chartH"
                                :chart-w="qxTopInfo.chartW"
                                :chart-x="qxTopInfo.dataX"
                                :options="qxTopInfo.options"
                        />
                    </footer>
                </BaseBox>
            </div>
        </main>
    </ScreenBox>
</template>

<script>
    import ScreenBox from "../../components/ScreenBox/index";
    import NavberInfo from "../../components/Navber/index";
    import ContentBox from "../../components/ContentBox/index";
    import BaseBox from "../../components/BaseBox/index";
    import LineAndBarChart from "./components/LineAndBarChart";
    import MyTable from "../../components/Table/index";
    import Map from "../../components/Map/index";
    import MarkerCard from "./components/MarkerCard";
    import LodingChart from "./components/LodingChart";
    import DateRangePicker from "../../components/dateRangePicker";
    import LineBox from "./components/LineBox";
    import {lineChart_nowDataPeople, barChart_top10} from "./chart-option-config";
    import trainIcon from '../../assets/navImg/train.png'
    import payStation from '../../assets/navImg/pay-station.png'
    import station from '../../assets/navImg/station.png'
    import airPort from '../../assets/navImg/airport.png'
    import hospital from '../../assets/navImg/hospital.png'
    import serviceArea from '../../assets/navImg/service-area.png'
    import port from '../../assets/navImg/port.png'
    import DatePicker from "../../components/datePicker";
    import hotApi from '../../api/index'

    export default {
        name: 'index',
        components: {
            ScreenBox,
            NavberInfo,
            ContentBox,
            BaseBox,
            LineAndBarChart,
            MyTable,
            Map,
            LineBox,
            MarkerCard,
            LodingChart,
            DatePicker,
            DateRangePicker
        },
        data() {
            return {
                checkIcon: {},
                peopleInfo: {
                    leaveNum: '',
                    arrivalNum: '',
                    travelersNum: '',
                },
                nowTime: '',
                //日期段
                timeRange: [],
                //当前已添加的marker
                checkedMarker: {
                    '火车站': [],
                    '服务区': [],
                    '机场': [],
                    '收费站': [],
                    '客运站': [],
                    '医院': [],
                    '港口': [],
                },
                //lnglats:经纬度信息
                markerNavList: [
                    {
                        name: '客运站',
                        value: 0,
                        isChecked: false,
                        iconPath: station,
                        content: [],
                    },
                    {
                        name: '机场',
                        value: 0,
                        isChecked: false,
                        iconPath: airPort,
                        content: [],
                    },
                    {
                        name: '港口',
                        value: 0,
                        isChecked: false,
                        iconPath: port,
                        content: [],
                    },
                    {
                        name: '火车站',
                        value: 0,
                        //此处的选中，只控制视图的选中，若初始化时需要撒点，必须初始化调用下map组件的撒点方法
                        isChecked: false,
                        iconPath: trainIcon,
                        content: [],
                    },
                    {
                        name: '桥梁',
                        value: 0,
                        isChecked: false,
                        iconPath: hospital,
                        content: [],
                    },
                    {
                        name: '收费站',
                        value: 0,
                        isChecked: false,
                        iconPath: payStation,
                        content: [],
                    },
                    {
                        name: '服务区',
                        value: 0,
                        isChecked: false,
                        iconPath: serviceArea,
                        content: [],
                    },


                ],
                trainIcon: trainIcon,
                //来源TOP10和去向TOP10切换（1|2）
                checked: 1,
                //来源洞察
                lyInfo: {
                    left: {
                        label: '国外',
                        value: 0.56

                    },
                    right: {
                        label: '省外',
                        value: 0.44
                    }
                },
                //去向洞察
                qxInfo: {
                    left: {
                        label: '国外',
                        value: 0

                    },
                    right: {
                        label: '省外',
                        value: 0
                    }
                },
                //来源TOP10信息
                lyTopInfo: {
                    //图表值
                    list: [],
                    //X轴值
                    dataX: [],
                    //图表配置信息
                    options: barChart_top10,
                    //图表的高度
                    chartH: '160px',
                    //图表的宽度
                    chartW: '640px',
                },
                //去向TOP10信息
                qxTopInfo: {
                    //图表值
                    list: [],
                    //X轴值
                    dataX: [],
                    //图表配置信息
                    options: barChart_top10,
                    //图表的高度
                    chartH: '160px',
                    //图表的宽度
                    chartW: '640px',
                },
                //表头配置
                tableHeader: [
                    {
                        prop: 'city',
                        label: '区域',
                        width: 100,
                        fontColor: '#9FD7FF',
                    },
                    {
                        prop: 'positionName',
                        label: '枢纽',
                        fontColor: '#00E5F7',
                    },
                    {
                        prop: 'positionType',
                        label: '类别',
                        width: 100,
                        fontColor: '#9FD7FF',
                    },
                    {
                        prop: 'status',
                        label: '状态',
                        width: 100,
                        fontColor: '#FF6294',
                    },
                    {
                        prop: 'num',
                        label: '人数',
                        width: 100,
                        fontColor: '#9FD7FF',
                    },
                ],
                //表格数据
                tableData: [],
                //人口总量与疫情趋势图表配置信息
                populationInfo: {
                    //图表值
                    // list: [[10, 54, 85, 56], [20, 25, 80, 40], [28, 35, 50, 70]],
                    list: [],
                    //X轴值
                    // dataX: ['周一', '周二', '周三', '周四'],
                    dataX: [],
                    //图表配置信息
                    options: lineChart_nowDataPeople,
                    //图表的高度
                    chartH: '200px',
                    //图表的宽度
                    chartW: '642px',
                },
                //当前选中地市
                checkPosition: '广东省'
            }
        },
        computed: {
            titleVal() {
                return this.checkPosition === '广东省' ? this.checkPosition : this.checkPosition + '—' + this.checkIcon.name;
            },
            titleW() {
                return this.titleVal.length * 30 + 40 + 'px'
            },

        },
        watch: {
            //选中地市改变
            // checkPosition: {
            //     handler() {
            //         this.getNowPeopleInfo();
            //         this.getNowPeopleLineChart();
            //         this.getTraveler();
            //         this.getPeopleInfo();
            //     }
            // },
            //选中枢纽改变
            checkIcon: {
                handler() {
                    this.getNowPeopleInfo();
                    this.getNowPeopleLineChart();
                    this.getTraveler();
                    this.getPeopleInfo();
                }
            },
            timeRange: {
                handler() {
                    this.getNowPeopleLineChart();
                }
            },
            nowTime: {
                handler(val) {
                    if (val) {
                        this.getPeopleInfo();
                    }

                }
            },
        },
        created() {
            // this.nowTime = this.getNowTime();
            this.nowTime = '2022-02-15';
            this.timeRange = [this.getBeforeDate(7), this.getNowTime()];
            // this.getPeopleInfo();
            this.getNowPeopleInfo();
            // this.getNowPeopleLineChart();
            this.getTraveler();
            this.getPointArea();
        },
        mounted() {
            // this.initMarker([0, 1])
        },
        methods: {
            //返回到广东省
            returnGuangDong() {
                this.checkPosition = '广东省';
                this.$refs['myMapInfo'].resetZoomAndCenter(8, [114.60, 23.50]);
            },
            getPointArea() {
                hotApi.getPointArea().then(res => {
                    let data = res.data.data;
                    data.forEach(val => {
                        let index = this.markerNavList.findIndex(item => val.name === item.name);
                        if (index != -1) {
                            this.markerNavList[index].content = val.positionConfigs;
                            this.markerNavList[index].value = val.positionConfigs.length;
                            // debugger
                            // console.log(this.markerNavList)
                        }
                    })

                })
            },
            //获取人口洞察数据
            getPeopleInfo() {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                hotApi.getPeopleInfo({
                    positionId: this.checkIcon.id,
                    statDate: this.nowTime,
                    cityName
                }).then(res => {
                    let data = res.data.data;
                    //国外去向
                    this.qxInfo.right.value = data.leave.provinceProportion;
                    //省外去向
                    this.qxInfo.left.value = data.leave.foreignProportion;
                    let list = [];
                    let datax = [];
                    data.leave.chartsInfos.forEach(val => {
                        list.push(val.values);
                        datax.push(val.title);
                    });
                    //去向top10数据
                    this.qxTopInfo.list = [];
                    this.qxTopInfo.list.push(list);
                    this.qxTopInfo.dataX = datax;
                    //国外来源
                    this.lyInfo.left.value = data.origin.foreignProportion;
                    //省外来源
                    this.lyInfo.right.value = data.origin.provinceProportion;
                    let listly = [];
                    let dataxly = [];
                    data.origin.chartsInfos.forEach(val => {
                        listly.push(val.values);
                        dataxly.push(val.title);
                    });
                    //来源top10数据
                    this.lyTopInfo.list = [];
                    this.lyTopInfo.list.push(listly);
                    this.lyTopInfo.dataX = dataxly;
                })
            },
            //获取实时人口信息
            getNowPeopleInfo() {
                let timeRange = [this.getBeforeDate(7), this.getNowTime()];
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                hotApi.getNowPeopleInfo({
                    positionId: this.checkIcon.id,
                    startDate: timeRange[0],
                    endDate: timeRange[1],
                    cityName
                }).then(res => {
                    console.log(res.data)
                    this.tableData = res.data.data

                })
            },
            //获取实时客流趋势数据
            getNowPeopleLineChart() {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                hotApi.getNowPeopleLineChart({
                    positionId: this.checkIcon.id,
                    startDate: this.timeRange[0],
                    endDate: this.timeRange[1],
                    cityName
                }).then(res => {
                    // console.log(res.data);
                    let data = res.data.data;
                    let sslrList = [];
                    let sslcList = [];
                    let ssrsList = [];
                    let titles = [];
                    data.forEach(val => {
                        sslrList.push(val.valuesMap.peopleRealTimeFlowIn);
                        sslcList.push(val.valuesMap.peopleRealTimeFlowOut);
                        ssrsList.push(val.valuesMap.peopleRealTimeNum);
                        titles.push(val.title)
                    });

                    this.populationInfo.list = [sslrList, sslcList, ssrsList];
                    this.populationInfo.dataX = titles;

                })
            },
            //获取获取旅客量
            getTraveler() {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                hotApi.getTraveler({
                    positionId: this.checkIcon.id,
                    statDate: this.nowTime,
                    cityName
                }).then(res => {
                    this.peopleInfo = res.data.data
                })
            },


            //初始化默认撒点,arr:需要选中的markerId
            initMarker(arr) {
                setTimeout(() => {
                    arr.forEach(val => {
                        this.checkOrUnCheck(this.markerNavList[val].name, this.markerNavList[val].lnglats, this.markerNavList[val].iconPath, val)
                    })
                })

            },
            //勾选或者取消勾选
            checkOrUnCheck(val, content, iconPath, ind) {
                //取消勾选
                if (this.markerNavList[ind].isChecked) {
                    //remove选中的撒点数据
                    this.$refs['myMapInfo'].removeMarkerIcon(this.checkedMarker[val]);
                    //视图取消选中
                    this.markerNavList[ind].isChecked = false;
                } else {
                    let markers = [];
                    let marker = null;
                    content.forEach(val => {
                        //地图撒点
                        marker = this.$refs['myMapInfo'].addMarkerIcon(iconPath, val);
                        markers.push(marker)
                    });
                    // 保存撒点数据，方便之后remove
                    this.checkedMarker[val] = markers;
                    //视图选中
                    this.markerNavList[ind].isChecked = true;
                }
            },

            handleChange(val) {
                this.checked = val;
            },
            getPosition(data) {
                console.log(data)
                // this.checkPosition = data
            },
            //当前选中的图标数据
            getIconInfo(data) {
                this.checkIcon = data;
                this.checkPosition = data.cityName
            },
            //获取当前日期
            getNowTime() {
                let nowDate = new Date();
                let year = nowDate.getFullYear();
                let month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
                let day = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
                return year + "-" + month + "-" + day;
            },
            //获取前N天的日期
            getBeforeDate(n) {
                let d = new Date();
                let year = d.getFullYear();
                let mon = d.getMonth() + 1;
                let day = d.getDate();
                if (day <= n) {
                    if (mon > 1) {
                        mon = mon - 1;
                    } else {
                        year = year - 1;
                        mon = 12;
                    }
                }
                console.log(year);
                d.setDate(d.getDate() - n);
                year = d.getFullYear();
                mon = d.getMonth() + 1;
                day = d.getDate();
                let s = year + "-" + (mon < 10 ? ('0' + mon) : mon) + "-" + (day < 10 ? ('0' + day) : day);
                return s;
            }
        }
    }
</script>

<style lang="less" scoped>
    @import "../../assets/style/variables";
    @import "../../assets/style/common.css";

    .bg {
        height: 100%;
        width: 100%;
        position: relative;

        .left {
            /*background: green;*/
            /*height: 100%;*/
            /*background-image: url("../../assets/navImg/bg.png");*/
            padding: 40px 0 40px 40px;
            position: absolute;
            /*background: pink;*/

            .return-box {
                position: absolute;
                display: flex;
                top: 40px;
                right: -60px;
                height: 60px;
                width: 60px;
                box-sizing: border-box;
                padding-left: 5px;
                justify-items: center;
                align-items: center;

                .return-button {
                    height: 50px;
                    width: 50px;
                    font-size: 45px;
                    box-sizing: border-box;
                    position: absolute;
                    line-height: 50px;
                    /*padding-left: 10px;*/
                    /*padding-right: -10px;*/
                    background: rgba(4, 40, 72, 0.5);
                    border: 2px solid @lineColor;
                    border-radius: 8px 8px;
                    color: @lineColor;
                }
            }

            .time-box {
                margin-top: 20px;
                /*position: absolute;*/
                /*top: 48px;*/
                /*left: 200px;*/

                .date-picker {
                    height: 50px;
                    line-height: 50px
                }
            }

            .main-title {
                line-height: 46px;
                color: #FFFFFF;
                padding-right: 10px;
                font-size: @title-pointer;
                font-weight: 700;
            }

            .main-title:before {
                content: '';
                height: 10px;
                width: 10px;
                margin: 0 10px;
                border-radius: 50% 50%;
                background: @lineColor;
                display: inline-block;
            }


        }

        .right {
            background-image: url("../../assets/navImg/bg.png");
            background-position: right;
            position: absolute;
            padding: 15px 40px 40px 0px;
            right: 0;

            .time-box {
                position: absolute;
                top: -10px;
                right: 130px;
                width: 200px;

                .date-range-picker {
                    height: 35px;
                    line-height: 35px
                }
            }

            .marker-bg {
                background-image: url("../../assets/navImg/marker-bg.png");
                display: inline-block;
                padding: 5px 12px;
                color: @fontColor;
                background-size: 100% 100%;
            }

            .box-style {
                display: flex;

                div {
                    flex: 1;
                    padding: 5px 10px;
                }
            }

            .header-top {
                display: flex;

                .common {
                    flex: 1;
                    height: 65px;
                    padding: 0px 5px 10px 10px;
                }

                .line {
                    height: 70px;
                    width: 1px;
                    background: @fontColor;
                }

                .left-chart {
                    .common();
                }

                .right-chart {
                    .common();
                    padding-left: 20px;


                }
            }

            .button-change {
                .flexed {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    padding: 0px 24%;
                    /*padding: 0px 40px 0px 40px;*/

                    .title-button {
                        display: inline-block;
                        height: 30px;
                        width: 130px;
                        text-align: center;
                        line-height: 30px;
                        margin: 0px 15px;
                        cursor: pointer;
                        font-size: @chart-base-title;
                        border-radius: 8px 8px;
                        border: 1px solid @lineColorContent;
                    }

                    .checked {
                        color: @bgColor;
                        background: @lineColorContent;
                    }

                    .un-checked {
                        color: @lineColor;
                        background: @bgColor;
                    }
                }

                .title-line {
                    margin: 20px 0 0 40px;
                    width: 565px;
                    height: 2px;
                    background: @lineColorContent;
                    position: relative;

                    .triangle {
                        width: 0; /*设置宽高为0，所以div的内容为空，从才能形成三角形尖角*/
                        height: 0;
                        border-bottom: 15px solid @lineColorContent;
                        border-left: 15px solid transparent; /*transparent 表示透明*/
                        border-right: 15px solid transparent;
                        background: transparent;
                    }

                    .triangle-style {
                        position: absolute;
                        top: -16px;
                        .triangle();
                    }
                }

            }

        }

    }
</style>

