<template>
    <ScreenBox>
        <header>
            <NavberInfo/>
        </header>
        <main class="bg">
            <Map ref="myMapInfo" :map-id="'mapTest'" :map-h="'1012px'" :map-w="'1920px'" style="position: absolute"
                 @getArea="getPosition"/>
            <div class="left">
                <BaseBox :content-h="'46px'" :content-w="titleW">
                    <div class="main-title">{{checkPosition}}</div>
                </BaseBox>
                <div class="return-box" v-if="checkPosition!=='广东省'">
                    <div class="return-button" @click="returnGuangDong"><i class="el-icon-back"/></div>
                </div>
                <div class="time-box">
                    <DatePicker class="date-picker" :line-color="'#00E6F8'" :value.sync="nowTime"/>
                </div>
                <BaseBox style="margin-top: 20px" :content-h="'145px'" :content-w="'528px'">
                    <Panel :checkPosition="checkPosition"/>
                </BaseBox>
            </div>
            <div class="right">
                <ContentBox :title="'实时资讯'">
                    <MyTable :table-header="tableHeader" :table-data="tableData"/>
                </ContentBox>
                <ContentBox :title="'人口总量与疫情趋势'" style="position: relative">
                    <div class="time-box">
                        <DateRangePicker class="date-range-picker" :value.sync="timeRange"
                                         :line-color="'rgba(0,0,0,0)'"/>
                    </div>
                    <LineAndBarChart
                            :chart-id="'nowChart'"
                            :list="populationInfo.list"
                            :chart-h="populationInfo.chartH"
                            :chart-w="populationInfo.chartW"
                            :chart-x="populationInfo.dataX"
                            :options="populationInfo.options"
                    />
                </ContentBox>

                <ContentBox :title="'人口洞察'" :content-h="'320px'">
                    <!--                    <main class="box-style">-->
                    <!--                        <LineBox :title="'日总旅客量'" :value="'1258人'"/>-->
                    <!--                        <LineBox :title="'到达旅客量'" :value="'58人'"/>-->
                    <!--                        <LineBox :title="'出发旅客量'" :value="'2293人'"/>-->
                    <!--                    </main>-->

                    <header class="header-top">
                        <!--来源洞察-->
                        <div class="left-chart">
                            <LodingChart :chart-id="'commonIn'" :title="'来源洞察'" :left-data="lyInfo.left"
                                         :right-data="lyInfo.right" :colors="['#20FF92','#FF795E']"/>
                        </div>
                        <div class="line"></div>
                        <!--去向洞察-->
                        <div class="right-chart">
                            <LodingChart :chart-id="'commonOut'" :title="'去向洞察'" :left-data="qxInfo.left"
                                         :right-data="qxInfo.right" :colors="['#1CBCF9','#FF6294']"/>
                        </div>
                    </header>
                    <main class="button-change">
                        <div class="flexed">
                            <div class="title-button" :class="[checked===1?'checked':'un-checked']"
                                 @click="handleChange(1)">来源TOP10
                            </div>
                            <div class="title-button" :class="[checked===2?'checked':'un-checked']"
                                 @click="handleChange(2)">去向TOP10
                            </div>
                        </div>
                        <div class="title-line">
                            <div class="triangle-style" :style="{left:checked===1?'180px':'340px'}"></div>
                        </div>

                    </main>
                    <!--来源TOP10和去向TOP10图表-->
                    <footer>
                        <!--来源TOP10-->
                        <LineAndBarChart
                                v-show="checked===1"
                                :chart-id="'lyBarChart'"
                                :list="lyTopInfo.list"
                                :chart-h="lyTopInfo.chartH"
                                :chart-w="lyTopInfo.chartW"
                                :chart-x="lyTopInfo.dataX"
                                :options="lyTopInfo.options"
                        />
                        <!--去向TOP10-->

                        <LineAndBarChart
                                v-show="checked===2"
                                :chart-id="'qxBarChart'"
                                :list="qxTopInfo.list"
                                :chart-h="qxTopInfo.chartH"
                                :chart-w="qxTopInfo.chartW"
                                :chart-x="qxTopInfo.dataX"
                                :options="qxTopInfo.options"
                        />
                    </footer>
                </ContentBox>
            </div>
        </main>
    </ScreenBox>
</template>

<script>
    import ScreenBox from "../../components/ScreenBox/index";
    import NavberInfo from "../../components/Navber/index";
    import ContentBox from "../../components/ContentBox/index";
    import BaseBox from "../../components/BaseBox/index";
    import Panel from "./components/Panel";
    import LineAndBarChart from "./components/LineAndBarChart";
    import DatePicker from "../../components/datePicker";
    import DateRangePicker from "../../components/dateRangePicker";
    import MyTable from "../../components/Table/index";
    import Map from "../../components/Map/index";
    import LodingChart from "./components/LodingChart";
    import {lineChart_nowData, barChart_top10} from "./chart-option-config";
    import home from '../../api/index'


    export default {
        name: 'index',
        components: {
            ScreenBox,
            NavberInfo,
            ContentBox,
            BaseBox,
            Panel,
            LineAndBarChart,
            MyTable,
            Map,
            LodingChart,
            DatePicker,
            DateRangePicker
        },
        data() {
            return {
                //当前日期
                nowTime: '',
                //日期段
                timeRange: [],
                //来源TOP10和去向TOP10切换（1|2）
                checked: 1,
                //来源洞察
                lyInfo: {
                    left: {
                        label: '国外',
                        value: 0

                    },
                    right: {
                        label: '省外',
                        value: 0
                    }
                },
                //去向洞察
                qxInfo: {
                    left: {
                        label: '国外',
                        value: 0

                    },
                    right: {
                        label: '省外',
                        value: 0
                    }
                },
                //来源TOP10信息
                lyTopInfo: {
                    //图表值
                    list: [[10, 54, 85, 56, 52, 85, 95, 25]],
                    //X轴值
                    dataX: [],
                    //图表配置信息
                    options: barChart_top10,
                    //图表的高度
                    chartH: '200px',
                    //图表的宽度
                    chartW: '640px',
                },
                //去向TOP10信息
                qxTopInfo: {
                    //图表值
                    list: [[52, 96, 42, 56, 56, 85, 95, 25]],
                    //X轴值
                    dataX: [],
                    //图表配置信息
                    options: barChart_top10,
                    //图表的高度
                    chartH: '200px',
                    //图表的宽度
                    chartW: '640px',
                },

                //表头配置
                tableHeader: [
                    {
                        prop: 'startTime',
                        label: '时间',
                        width: 200,
                    },
                    {
                        prop: 'roadName',
                        label: '地区',
                        width: 150,
                    },
                    {
                        prop: 'eventDesc',
                        label: '事件',
                    },


                ],
                //表格数据
                tableData: [
                ],
                //人口总量与疫情趋势图表配置信息
                populationInfo: {
                    //图表值
                    list: [],
                    //X轴值
                    dataX: [],
                    //图表配置信息
                    options: lineChart_nowData,
                    //图表的高度
                    chartH: '240px',
                    //图表的宽度
                    chartW: '642px',
                },
                //当前选中地市
                checkPosition: '广东省'
            }
        },
        computed: {
            titleW() {
                return this.checkPosition.length * 30 + 40 + 'px'
            }
        },
        watch: {
            checkPosition: {
                // immediate: true,
                handler() {
                    this.getPeopleLineChartList();
                    this.getPeopleInfo();
                }
            },
            nowTime: {
                immediate: true,
                handler(val) {
                    console.log('时间值改变', val);
                    if (val) {
                        this.getPeopleInfo();
                    }

                }
            },
            timeRange: {
                handler(val) {
                    console.log('时间段改变', val);
                    if (val) {
                        this.getPeopleLineChartList();
                    }

                }
            }
        },

        created() {
            // this.nowTime = this.getNowTime();
            this.nowTime = '2022-02-14';
            this.timeRange = [this.getBeforeDate(7), this.getNowTime()];
            // console.log('前七天',this.timeRange);
            this.getNowTraffic();
        },
        methods: {
            //返回到广东省
            returnGuangDong() {
                this.checkPosition = '广东省';
                this.$refs['myMapInfo'].removeMarker();
            },
            //获取疫情图表信息 当日新增，本土新增，境外新增
            getPeopleLineChartList() {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                home.getPeopleChart({
                    provinceName: '广东',
                    cityName,
                    startDate: this.timeRange[0],
                    endDate: this.timeRange[1]
                }).then(res => {
                    let data = res.data.data;
                    //X坐标值
                    let datax = [];
                    //当日新增
                    let drxz = [];
                    //本土新增
                    let btxz = [];
                    //境外新增
                    let jwxz = [];
                    data.forEach(val => {
                        datax.unshift(val.title);
                        drxz.unshift(val.valuesMap.totalConfirmAdd);
                        btxz.unshift(val.valuesMap.localConfirmAdd);
                        jwxz.unshift(val.valuesMap.foreignConfirmAdd);
                    });
                    this.populationInfo.dataX = datax;
                    this.populationInfo.list = [drxz, btxz, jwxz];
                });

            },
            //获取实时交通事件
            getNowTraffic() {
                home.getNowTraffic().then(res => {
                    let data = res.data.data;
                    this.tableData = data
                })
            },

            //获取人口洞察数据
            getPeopleInfo() {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                home.getPeopleInfo(
                    {
                        statDate: this.nowTime,
                        cityName
                    }).then(res => {
                    let data = res.data.data;
                    //国外去向
                    this.qxInfo.right.value = data.leave.provinceProportion;
                    //省外去向
                    this.qxInfo.left.value = data.leave.foreignProportion;
                    let list = [];
                    let datax = [];
                    data.leave.chartsInfos.forEach(val => {
                        list.push(val.values);
                        datax.push(val.title);
                    });
                    //去向top10数据
                    this.qxTopInfo.list = [];
                    this.qxTopInfo.list.push(list);
                    this.qxTopInfo.dataX = datax;
                    //国外来源
                    this.lyInfo.left.value = data.origin.foreignProportion;
                    //省外来源
                    this.lyInfo.right.value = data.origin.provinceProportion;
                    let listly = [];
                    let dataxly = [];
                    data.origin.chartsInfos.forEach(val => {
                        listly.push(val.values);
                        dataxly.push(val.title);
                    });
                    //来源top10数据
                    this.lyTopInfo.list = [];
                    this.lyTopInfo.list.push(listly);
                    this.lyTopInfo.dataX = dataxly;


                })
            },
            //来源TOP10和去向TOP10切换
            handleChange(val) {
                this.checked = val;
            },
            //获取当前日期
            getNowTime() {
                let nowDate = new Date();
                let year = nowDate.getFullYear();
                let month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
                let day = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
                return year + "-" + month + "-" + day;
            },
            //当前选中地市
            getPosition(data) {
                this.checkPosition = data
            },
            //获取前N天的日期
            getBeforeDate(n) {
                let d = new Date();
                let year = d.getFullYear();
                let mon = d.getMonth() + 1;
                let day = d.getDate();
                if (day <= n) {
                    if (mon > 1) {
                        mon = mon - 1;
                    } else {
                        year = year - 1;
                        mon = 12;
                    }
                }
                console.log(year);
                d.setDate(d.getDate() - n);
                year = d.getFullYear();
                mon = d.getMonth() + 1;
                day = d.getDate();
                let s = year + "-" + (mon < 10 ? ('0' + mon) : mon) + "-" + (day < 10 ? ('0' + day) : day);
                return s;
            }
        }
    }
</script>

<style lang="less" scoped>
    @import "../../assets/style/variables";
    @import "../../assets/style/common.css";

    .bg {
        height: 100%;
        width: 100%;
        position: relative;

        .left {
            /*background: green;*/
            /*height: 100%;*/
            /*background-image: url("../../assets/navImg/bg.png");*/
            padding: 40px 0 40px 40px;
            position: absolute;

            .return-box {
                position: absolute;
                display: flex;
                top: 40px;
                /*right: -60px;*/
                left: 200px;
                height: 60px;
                width: 60px;
                box-sizing: border-box;
                padding-left: 5px;
                justify-items: center;
                align-items: center;

                .return-button {
                    height: 50px;
                    width: 50px;
                    font-size: 45px;
                    box-sizing: border-box;
                    position: absolute;
                    line-height: 50px;
                    /*padding-left: 10px;*/
                    /*padding-right: -10px;*/
                    background: rgba(4, 40, 72, 0.5);
                    border: 2px solid @lineColor;
                    border-radius: 8px 8px;
                    color: @lineColor;
                }
            }

            .time-box {
                /*position: absolute;*/
                /*top: 48px;*/
                /*left: 200px;*/
                margin-top: 20px;

                .date-picker {
                    height: 50px;
                    line-height: 50px
                }
            }

            .main-title {
                line-height: 46px;
                color: #FFFFFF;
                padding-right: 10px;
                font-size: @title-pointer;
                font-weight: 700;
            }

            .main-title:before {
                content: '';
                height: 10px;
                width: 10px;
                margin: 0 10px;
                border-radius: 50% 50%;
                background: @lineColor;
                display: inline-block;
            }


        }

        .right {
            background-image: url("../../assets/navImg/bg.png");
            background-position: right;
            position: absolute;
            padding: 15px 40px 40px 0px;
            right: 0;

            .marker-bg {
                background-image: url("../../assets/navImg/marker-bg.png");
                display: inline-block;
                padding: 5px 12px;
                color: @fontColor;
                background-size: 100% 100%;
            }

            .time-box {
                position: absolute;
                top: -10px;
                right: 130px;
                width: 200px;

                .date-range-picker {
                    height: 35px;
                    line-height: 35px
                }
            }

            .box-style {
                display: flex;

                div {
                    flex: 1;
                    padding: 5px 10px;
                }
            }

            .header-top {
                display: flex;

                .common {
                    flex: 1;
                    height: 65px;
                    padding: 0px 5px 10px 10px;
                }

                .line {
                    height: 70px;
                    width: 1px;
                    background: @fontColor;
                }

                .left-chart {
                    .common();
                }

                .right-chart {
                    .common();
                    padding-left: 20px;


                }
            }

            .button-change {
                .flexed {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    padding: 0px 24%;
                    /*padding: 0px 40px 0px 40px;*/

                    .title-button {
                        display: inline-block;
                        height: 30px;
                        width: 130px;
                        text-align: center;
                        line-height: 30px;
                        margin: 0px 15px;
                        cursor: pointer;
                        font-size: @chart-base-title;
                        border-radius: 8px 8px;
                        border: 1px solid @lineColorContent;
                    }

                    .checked {
                        color: @bgColor;
                        background: @lineColorContent;
                    }

                    .un-checked {
                        color: @lineColor;
                        background: @bgColor;
                    }
                }

                .title-line {
                    margin: 20px 0 0 40px;
                    width: 565px;
                    height: 2px;
                    background: @lineColorContent;
                    position: relative;

                    .triangle {
                        width: 0; /*设置宽高为0，所以div的内容为空，从才能形成三角形尖角*/
                        height: 0;
                        border-bottom: 15px solid @lineColorContent;
                        border-left: 15px solid transparent; /*transparent 表示透明*/
                        border-right: 15px solid transparent;
                        background: transparent;
                    }

                    .triangle-style {
                        position: absolute;
                        top: -16px;
                        .triangle();
                    }
                }

            }

        }

    }
</style>

