<template>
    <!--表格-->
    <div class="wu-table">
        <div class="wu-table-header">
            <div class="wu-table-th" v-for="(item,index) of tableHeader" :key="index">{{item.label}}</div>
        </div>
        <div style="height:calc(100% - 40px)">
            <el-scrollbar style="overflow-x: hidden;height: 100%">
                <div class="wu-table-body">
                    <div class="wu-table-tr" v-for="(item, index) in tableData" :key="index">
                        <div class="wu-table-td td1" v-for="(jtem,inde) of tableHeader" :key="inde">
                            {{item[jtem.prop]}}
                        </div>
                    </div>
                </div>
            </el-scrollbar>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            tableHeader: {},
            //是否有序号
            isOrder: {},
            tableData: {
                type: Array,
                default: () => []
            },
        },
        data() {
            return {}
        },

        computed: {},

        watch: {},

        created() {
        },

        mounted() {
            this.init()

        },

        destroyed() {
        },

        methods: {
            // 刷新
            init() {
            },

        }
    }
</script>

<style lang='less' scoped>
    @import "../assets/style/variables";

    .wu-table {
        padding: 5px 5px;
    }

    .wu-table-header {
        height: 40px;
        line-height: 40px;
        background-color: rgba(97, 223, 255, 0.2);
        display: flex;
        color:white;

        .wu-table-th {
            flex: 1;
            text-align: center;
            font-size: @font-base-size;
            font-weight: 700;
            overflow: hidden;
        }
    }

    .wu-table-body {
        color: @fontColor;
        height: 100%;

        .wu-table-tr {
            height: 44px;
            line-height: 44px;
            font-size: @font-base-size;
            cursor: pointer;
            display: flex;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);


            .wu-table-td {
                flex: 1;
                float: left;
                text-align: center;
                overflow: hidden;
                height: 100%;
            }
        }

        .wu-table-tr:nth-child(2n+1) {
            background: rgba(4, 40, 72, 0.4);
        }

        .wu-table-tr:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }


</style>
<style>
    .el-scrollbar__wrap {
        overflow-x: hidden !important;
    }
</style>
