<template>
    <div>
        <header v-if="title" class="title">{{title}}</header>
        <main class="chart_style">
            <div class="left_label">
                <div>{{leftData.label}}</div>
                <div :style="{color:colors[0]}">{{leftData.value|chartVal}}</div>
            </div>
            <div class="loading_body" :style="{backgroundColor:this.colors[1]}">
                <div :style="leftStyle"></div>
<!--                <div :style="rightStyle"></div>-->
            </div>
            <div class="right_label">
                <div>{{rightData.label}}</div>
                <div :style="{color:colors[1]}">{{rightData.value|chartVal}}</div>
            </div>
        </main>

    </div>

</template>

<script>
    import * as echarts from "echarts";

    export default {
        name: "LodingChart",
        props: {

            //标题
            title: {},
            leftData: {},
            rightData: {},
            colors: {},


        },
        data() {
            return {}
        },
        created() {

        },
        watch: {
            chartId: {
                deep: true,
                handler(val) {
                    console.log('图表id改变', val)
                }
            }
        },
        filters: {
            chartVal(val) {
                // let num = parseInt(val * 100);
                return val + '%'
            }
        },
        computed: {
            leftStyle() {
                let w = this.leftData.value*2 + 'px';
                if(this.leftData.value*2>199){
                    return {width: w, background: this.colors[0], borderRadius: '40px 40px'}
                }else{
                    return {width: w, background: this.colors[0], borderRadius: '40px 0px 0px 40px'}
                }

            },

            rightStyle() {
                let w = this.rightData.value * 2 + 'px';
                return {width: w, background: this.colors[1], borderRadius: '0px 40px 40px 0px'}
            }
        },
        components: {},
        methods: {
            //初始化图表
            initChart(list, options = {}) {
                let myChart = echarts.init(document.getElementById(this.chartId));
                options.xAxis.data = this.chartX;
                list.forEach((value, index) => {
                    options.series[index].data = value
                });
                myChart.setOption(options);
            },
        }
    }
</script>

<style lang="less" scoped>
    @import "../../../assets/style/variables";

    .title {
        color: @lineColorContent;
        font-size: @chart-base-title;
    }

    .chart_style {
        display: flex;
        padding: 2px 0;

        .common {
            flex: 1;
            color: @fontColor;
            font-size: @chart-base-size;
        }

        .loading_body {
            margin: 10px 10px;
            flex: 5;
            height: 18px;
            width: 180px;
            display: flex;
            border-radius: 40px 40px;
        }


        .left_label {
            .common()
        }

        .right_label {
            .common ()
        }
    }
</style>
