<!--疫情面板内容-->
<template>
    <div class="my-panel">
        <div class="panel-content" v-for="(item,index) of list" :key="index">
            <div class="box-title">{{item.title}}</div>
            <div class="box-num-base" :class="[item.title===greenVal?'box-num-green':'box-num-red']">{{item.number}}
            </div>
            <div class="box-grow ">较昨日 <span class="box-num-green">{{item.grow}}</span></div>
        </div>

    </div>
</template>

<script>
    import home from '../../../api/index'

    export default {
        name: "Panel",
        props:{
            checkPosition:{
                type:String,
                default:()=>'广东省'
            }
        },
        data() {
            return {
                greenVal: '累计治愈',
                list: [
                    {title: '累计确诊', number: 0, grow: '0'},
                    {title: '新增无症状', number: 0, grow: '0'},
                    {title: '现有确诊', number: 0, grow: '0'},
                    {title: '累计治愈', number: 0, grow: '0'},
                ]
            }
        },
        watch:{
            checkPosition:{
                handler(val){
                    console.log(val)
                    this.getPeopleByCity('2022-02-15');
                }
            }
        },
        created() {
            this.getPeopleByCity('2022-02-15');
        },
        components: {},
        methods: {
            //获取地市疫情数据
            getPeopleByCity(time) {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                home.getPeopleByCity({provinceName: '广东',cityName, statDate: time}).then(res => {
                    console.log(res.data)
                    let data=res.data.data;
                    //累计确诊
                    this.list[0].number=data.confirm;
                    //累计确诊较昨日=今日新增确诊
                    this.list[0].grow=data.confirmAdd;
                    //新增无症状
                    this.list[1].number=data.asymptomaticAdd;
                    this.list[1].grow=data.asymptomaticAddBefore;
                    //现有确诊
                    this.list[2].number=data.nowConfirm;
                    this.list[2].grow=data.nowConfirmBefore;
                    //累计治愈
                    this.list[3].number=data.heal;
                    this.list[3].grow=data.healAddBefore;
                })
            },
        }
    }
</script>

<style lang="less" scoped>
    @import "../../../assets/style/variables";

    .my-panel {
        display: flex;
        height: 140px;
        justify-content: center;
        align-items: center;

        .panel-content {
            flex: 1;
            height: 100%;
            /*border: 1px solid green;*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;

            /*align-items: center;*/

            .align {
                padding: 10px 0;
            }

            .box-title {
                flex: 1;
                color: #FFFFFF;
                font-size: @chart-base-title;
                .align()
            }

            .box-num-base {
                flex: 1;
                font-size: @title-pointer;
                font-weight: 900;
                .align()
            }

            .box-num-green {
                color: @valGreen;
            }

            .box-num-red {
                color: @valRed;
            }

            .box-grow {
                flex: 1;
                color: #FFFFFF;
                font-size: @chart-base-title;
                .align()
            }
        }
    }
</style>
