<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    @close="closeDialog()"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
    <el-form-item label="区域ID" prop="areaId" v-if="dataForm.id">
        <el-input v-model="dataForm.areaId" placeholder="区域ID" disabled></el-input>
    </el-form-item>
    <el-form-item label="区域名称" prop="areaName">
        <el-input v-model="dataForm.areaName" placeholder="区域名称"></el-input>
    </el-form-item>
    <el-form-item label="父级区域" prop="parentId">
        <el-input v-model="dataForm.parentId" placeholder="父级区域"></el-input>
    </el-form-item>
    <el-form-item label="区域等级" prop="level">
        <el-input v-model="dataForm.level" placeholder="区域等级"></el-input>
    </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()" v-if="canSubmit">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
    import {getObj, addObj, putObj} from '@/api/admin/area'

    export default {
    data () {
      return {
        visible: false,
        canSubmit: false,
        dataForm: {
          areaId: 0,
          areaName: '',

          parentId: '',

          level: '',

        },
        dataRule: {
          areaName: [
            { required: true, message: '区域名称不能为空', trigger: 'blur' }
          ],

          parentId: [
            { required: true, message: '父级区域ID不能为空', trigger: 'blur' }
          ],

          level: [
            { required: true, message: '区域等级不能为空', trigger: 'blur' }
          ],

        }
      }
    },
    methods: {
      init (id) {
        this.visible = true;
        this.canSubmit = true;
        this.$nextTick(() => {
            this.$refs['dataForm'].resetFields()
            if (id) {
            getObj(id).then(response => {
                this.dataForm = response.data.data
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.canSubmit = false;
            if (this.dataForm.areaId) {
                putObj(this.dataForm).then(data => {
                    this.$notify.success('修改成功')
                    this.visible = false
                    this.$emit('refreshDataList')
                }).catch(() => {
                    this.canSubmit = true;
                });
            } else {
                addObj(this.dataForm).then(data => {
                    this.$notify.success('添加成功')
                    this.visible = false
                    this.$emit('refreshDataList')
                }).catch(() => {
                    this.canSubmit = true;
                });
            }
          }
        })
      },
      //重置表单
      closeDialog() {
          this.$refs["dataForm"].resetFields()
      }
    }
  }
</script>
