<template>
    <ScreenBox>
        <header>
            <NavberInfo/>
        </header>
        <main class="bg">
            <Map :map-id="'mapTest'"
                 :map-h="'1012px'"
                 :map-w="'1920px'"
                 style="position: absolute"
                 ref="myMapInfo"
                 @getArea="getPosition"
                 @getIconInfo="getIconInfo"
            />
            <div class="left">
                <BaseBox :content-h="'46px'" :content-w="titleW">
                    <div class="main-title">{{checkPosition}}</div>
                </BaseBox>
                <div class="return-box" v-if="checkPosition!=='广东省'">
                    <div class="return-button" @click="returnGuangDong"><i class="el-icon-back"/></div>
                </div>
                <div class="common-margin time-box">
                    <DatePicker class="date-picker" :line-color="'#00E6F8'" :value.sync="nowTime"/>
                </div>
                <div class="common-margin">
                    <BaseBox :content-w="'230px'">
                        <div class="left-title">
                            迁徙人口
                            <div><span class="number">{{peopleInfo.qxPeople}}</span>万人
                            </div>
                        </div>
                        <div class="left-title">同比去年
                            <div>
                                <span class="number2" :class="[+(peopleInfo.tbInfo)<0?'green':'red']">{{peopleInfo.tbInfo}}</span>
                                <img :src="exchangePointer(peopleInfo.tbInfo)"/></div>
                        </div>
                        <div class="left-title">
                            同比上月
                            <div>
                                <span class="number2" :class="[+(peopleInfo.hbInfo)<0?'green':'red']">{{peopleInfo.hbInfo}}</span>
                                <img :src="exchangePointer(peopleInfo.hbInfo)"/></div>
                        </div>
                    </BaseBox>
                </div>
                <div class="common-margin">
                    <ContentBox :title="'实时人口趋势'" :content-h="'225px'">
                        <LineAndBarChart
                                :chart-id="'ssrkBarChart'"
                                :list="ssrkInfo.list"
                                :chart-h="ssrkInfo.chartH"
                                :chart-w="ssrkInfo.chartW"
                                :chart-x="ssrkInfo.dataX"
                                :options="ssrkInfo.options"/>
                    </ContentBox>
                </div>
                <div class="common-margin">
                    <ContentBox :title="'迁徙趋势图'" :content-h="'225px'" style="position: relative">
                        <div class="time-box">
                            <DateRangePicker class="date-range-picker" :value.sync="timeRange"
                                             :line-color="'rgba(0,0,0,0)'"/>
                        </div>
                        <LineAndBarChart
                                :chart-id="'qxqsBarChart'"
                                :list="qxqsInfo.list"
                                :chart-h="qxqsInfo.chartH"
                                :chart-w="qxqsInfo.chartW"
                                :chart-x="qxqsInfo.dataX"
                                :options="qxqsInfo.options"/>
                    </ContentBox>
                </div>
            </div>
            <div class="right">
                <DoubleLineBox :title="titleArr" @handleTitleChange="handleTitleChange" :checked="checkTitle"
                               :content-h="'350px'"
                               style="position:relative">


                    <MyTable v-show="checkTitle===titleArr[0]" :table-header="tableHeader" :table-data="tableDataQR"
                             :tableHight="350">
                        <template v-slot:tb="data">
                            <div style="color: #9FD7FF">
                                {{data.data.row.yoy}}
                                <img class="table-img" :src="exchangePointer(data.data.row.yoy)"/>
                            </div>
                        </template>
                        <template v-slot:hb="data">
                            <div style="color: #9FD7FF">
                                {{data.data.row.mom}}
                                <img class="table-img" :src="exchangePointer(data.data.row.mom)"/>
                            </div>
                        </template>
                    </MyTable>
                    <MyTable v-show="checkTitle===titleArr[1]" :table-header="tableHeader" :table-data="tableDataQC"
                             :tableHight="350">
                        <template v-slot:tb="data">
                            <div style="color: #9FD7FF">
                                {{data.data.row.yoy}}
                                <img class="table-img" :src="exchangePointer(data.data.row.yoy)"/>
                            </div>
                        </template>
                        <template v-slot:hb="data">
                            <div style="color: #9FD7FF">
                                {{data.data.row.mom}}
                                <img class="table-img" :src="exchangePointer(data.data.row.mom)"/>
                            </div>
                        </template>
                    </MyTable>

                </DoubleLineBox>
                <ContentBox :title="'热门迁徙线路TOP10'" :content-h="'500px'">

                    <LineAndBarChart
                            :chart-id="'hotLineBarChart'"
                            :list="hotLineInfo.list"
                            :chart-h="hotLineInfo.chartH"
                            :chart-w="hotLineInfo.chartW"
                            :chart-y="hotLineInfo.dataY"
                            :options="hotLineInfo.options"/>


                </ContentBox>

            </div>
        </main>
    </ScreenBox>
</template>

<script>
    import topIcon from '../../assets/navImg/top.png'
    import bottomIcon from '../../assets/navImg/bottom.png'

    import LineAndBarChart from "./components/LineAndBarChart";
    import ScreenBox from "../../components/ScreenBox/index";
    import NavberInfo from "../../components/Navber/index";
    import ContentBox from "../../components/ContentBox/index";
    import DoubleLineBox from "../../components/DoubleTitleBox";
    import BaseBox from "../../components/BaseBox/index";
    import MyTable from '../../components/Table'
    import Map from "../../components/Map/index";
    import DateRangePicker from "../../components/dateRangePicker";
    import {lineChart_qxqs, lineChart_ssrk, barChart_hotLine} from "./chart-option-config";
    import DatePicker from "../../components/datePicker";
    import api from '../../api/index'

    export default {
        name: 'index',
        components: {
            ScreenBox,
            NavberInfo,
            ContentBox,
            DoubleLineBox,
            BaseBox,
            Map,
            DatePicker,
            DateRangePicker,
            LineAndBarChart,
            MyTable
        },
        data() {
            return {
                checkTitle: '',
                titleArr: ['迁入人口地市TOP10', '迁出人口地市TOP10'],
                //表头配置
                tableHeader: [
                    {
                        prop: 'area',
                        label: '名称',
                        width: 150,
                    },
                    {
                        prop: 'num',
                        label: '人口数',
                        width: 150,
                    },
                    {
                        prop: 'yoy',
                        label: '同比上年',
                        columnType: 'slot',
                        slotName: 'tb'
                    },
                    {
                        prop: 'mom',
                        label: '环比上月',
                        columnType: 'slot',
                        slotName: 'hb',
                    },
                ],
                //表格数据  迁入
                tableDataQR: [],
                //表格数据  迁出
                tableDataQC: [],
                checkIcon: {},
                //迁徙人口基本信息
                peopleInfo: {
                    qxPeople: '277.99',
                    unit: '万人',
                    tbInfo: 23,
                    hbInfo: -2,
                },
                //单个日期
                nowTime: '',
                //日期段
                timeRange: [],
                //迁徙趋势图表配置信息
                qxqsInfo: {
                    //图表值
                    list: [],
                    //X轴值
                    dataX: ['周一', '周二', '周三', '周四'],
                    // dataX: [],
                    //图表配置信息
                    options: lineChart_qxqs,
                    //图表的高度
                    chartH: '240px',
                    //图表的宽度
                    chartW: '642px',
                },
                //热门迁徙路线TOP10
                hotLineInfo: {
                    //图表值
                    list: [[50, 54, 65, 56], [50, 44, 65, 86], [40, 64, 45, 66], [40, 64, 75, 66], [40, 64, 45, 66]],
                    // list: [],
                    //X轴值
                    dataY: ['广州—佛山', '广州—深圳', '广州—惠州', '广州—肇庆', '广州—肇庆'],
                    // dataY: [],
                    //图表配置信息
                    options: barChart_hotLine,
                    //图表的高度
                    chartH: '500px',
                    //图表的宽度
                    chartW: '642px',
                },
                //实时人口趋势图表配置信息
                ssrkInfo: {
                    //图表值
                    list: [],
                    // list: [],
                    //X轴值
                    dataX: ['周一', '周二', '周三', '周四'],
                    // dataX: [],
                    //图表配置信息
                    options: lineChart_ssrk,
                    //图表的高度
                    chartH: '240px',
                    //图表的宽度
                    chartW: '642px',
                },
                //当前选中地市
                checkPosition: '广东省'
            }
        },
        computed: {

            titleW() {
                return this.checkPosition.length * 36 + 40 + 'px'
            },

        },
        watch: {
            //选中地市改变
            checkPosition: {
                handler() {
                    if (this.timeRange && this.nowTime) {
                        this.getQXPeopleInfo();
                        this.getRealTimePeople();
                        this.getMigrationTrend();
                        this.getHotTrendTop10();
                        this.getHotTrendChartTop10();
                    }

                }
            },

            timeRange: {
                handler(val) {
                    if (val) {
                        // console.log('timeRange改变',val)
                        this.getMigrationTrend();
                    }

                }
            },
            nowTime: {
                handler(val) {
                    if (val) {
                        // console.log('nowTime改变',val)
                        this.getQXPeopleInfo();
                        this.getRealTimePeople();
                        this.getHotTrendTop10();
                        this.getHotTrendChartTop10();
                    }

                }
            },
        },
        created() {
            this.checkTitle = this.titleArr[0];
            // this.nowTime = this.getNowTime();
            this.nowTime = '2022-03-08';
            this.timeRange = [this.getBeforeDate(7), this.getNowTime()];

        },

        methods: {
            handleTitleChange(val) {
                this.checkTitle = val
            },
            //同比环比图标
            exchangePointer(val) {
                return +(val) > 0 ? topIcon : bottomIcon
            },
            //返回到广东省
            returnGuangDong() {
                this.checkPosition = '广东省';
                this.$refs['myMapInfo'].removeMarker();
            },
            //获取迁徙人口详情、同比、环比
            getQXPeopleInfo() {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                api.getQXPeopleInfo({area: cityName, statDate: this.nowTime}).then(res => {
                    this.peopleInfo.qxPeople = res.data.data.populationTotal;
                    this.peopleInfo.tbInfo = res.data.data.yoy;
                    this.peopleInfo.hbInfo = res.data.data.mom;
                })
            },
            //获取实时人口迁徙趋势图
            getRealTimePeople() {
                // let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                // cityName = cityName == '广东' ? '' : cityName;
                api.getRealTimePeople({area: this.checkPosition, statDate: this.nowTime}).then(res => {
                    // console.log('实时人口迁徙趋势图', res);
                    let data = res.data.data;
                    let list = [];
                    let dataX = [];
                    data.forEach(val => {
                        list.push(val.values);
                        dataX.push(val.title.substring(10, 16));
                    });
                    this.ssrkInfo.list = [list];
                    this.ssrkInfo.dataX = dataX;
                    // console.log(this.ssrkInfo)
                })
            },
            //迁徙趋势图
            getMigrationTrend() {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                api.getMigrationTrend({
                    area: cityName,
                    startDate: this.timeRange[0],
                    endDate: this.timeRange[1]
                }).then(res => {
                    let data = res.data.data;
                    let list = [];
                    let dataX = [];
                    data.forEach(val => {
                        list.push(val.values);
                        dataX.push(val.title);
                    });
                    this.qxqsInfo.list = [list];
                    this.qxqsInfo.dataX = dataX;
                })
            },
            //热门地市迁入、迁出表格数据
            getHotTrendTop10() {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                api.getHotTrendTop10({area: cityName, statDate: this.nowTime}).then(res => {
                    // console.log(res);
                    this.tableDataQC = res.data.data.leaveList;
                    this.tableDataQR = res.data.data.originList;

                })
            },
            //热门迁徙路线图表
            getHotTrendChartTop10() {
                let cityName = this.checkPosition.substring(0, this.checkPosition.length - 1);
                cityName = cityName == '广东' ? '' : cityName;
                api.getHotTrendChartTop10({area: cityName, statDate: this.nowTime}).then(res => {
                    let data = res.data.data;
                    let waterwayNum = [];
                    let civilAviationNum = [];
                    let railwayNum = [];
                    let highwayNum = [];
                    let dataY = [];
                    data.forEach(val => {
                        waterwayNum.push(val.waterwayNum);
                        civilAviationNum.push(val.civilAviationNum);
                        railwayNum.push(val.railwayNum);
                        highwayNum.push(val.highwayNum);
                        dataY.push(val.route);
                    });
                    this.hotLineInfo.list = [waterwayNum, civilAviationNum, railwayNum, highwayNum];
                    this.hotLineInfo.dataY = dataY;
                })
            },


            //当前选中地市
            getPosition(data) {
                this.checkPosition = data
            },
            //当前选中的图标数据
            getIconInfo(data) {
                this.checkIcon = data;
                this.checkPosition = data.cityName
            },

            //获取当前日期
            getNowTime() {
                let nowDate = new Date();
                let year = nowDate.getFullYear();
                let month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
                let day = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
                return year + "-" + month + "-" + day;
            },
            //获取前N天的日期
            getBeforeDate(n) {
                let d = new Date();
                let year = d.getFullYear();
                let mon = d.getMonth() + 1;
                let day = d.getDate();
                if (day <= n) {
                    if (mon > 1) {
                        mon = mon - 1;
                    } else {
                        year = year - 1;
                        mon = 12;
                    }
                }
                // console.log(year);
                d.setDate(d.getDate() - n);
                year = d.getFullYear();
                mon = d.getMonth() + 1;
                day = d.getDate();
                let s = year + "-" + (mon < 10 ? ('0' + mon) : mon) + "-" + (day < 10 ? ('0' + day) : day);
                return s;
            }
        }
    }
</script>

<style lang="less" scoped>
    @import "../../assets/style/variables";
    @import "../../assets/style/common.css";

    .bg {
        height: 100%;
        width: 100%;
        position: relative;

        .left {
            padding: 40px 0 40px 40px;
            position: absolute;

            .common-margin {
                margin-top: 20px;

                .time-box {
                    position: absolute;
                    top: -10px;
                    right: 130px;
                    width: 200px;

                    .date-range-picker {
                        height: 35px;
                        line-height: 35px
                    }
                }
            }


            .left-title {
                font-size: @chart-base-title;
                color: @fontColor;
                line-height: 40px;
                font-weight: 700;

                .green {
                    color: @valGreen;
                }

                .red {
                    color: @valRed;
                }

                div {
                    margin: 0 10px;
                    display: inline-block;
                    color: @lineColor;


                    img {
                        height: 22px;
                        width: 18px;
                        margin: 5px 0px 0px 10px;
                    }
                }

                .number {
                    color: @lineColor;
                    font-size: @title-nav;
                }

                .number2 {
                    font-size: @title-pointer;
                }
            }


            .return-box {
                position: absolute;
                display: flex;
                top: 40px;
                left: 220px;
                height: 60px;
                width: 60px;
                box-sizing: border-box;
                padding-left: 5px;
                justify-items: center;
                align-items: center;

                .return-button {
                    height: 50px;
                    width: 50px;
                    font-size: 45px;
                    box-sizing: border-box;
                    position: absolute;
                    line-height: 50px;
                    /*padding-left: 10px;*/
                    /*padding-right: -10px;*/
                    background: rgba(4, 40, 72, 0.5);
                    border: 2px solid @lineColor;
                    border-radius: 8px 8px;
                    color: @lineColor;
                }
            }

            .time-box {
                /*position: absolute;*/
                /*top: 48px;*/
                /*left: 200px;*/

                .date-picker {
                    height: 50px;
                    line-height: 50px
                }
            }

            .main-title {
                line-height: 46px;
                color: #FFFFFF;
                padding-right: 10px;
                font-size: @title-nav;
                font-weight: 700;
            }

            .main-title:before {
                content: '';
                height: 10px;
                width: 10px;
                margin: 0 10px;
                border-radius: 50% 50%;
                background: @lineColor;
                display: inline-block;
            }


        }

        .right {
            background-image: url("../../assets/navImg/bg.png");
            background-position: right;
            position: absolute;
            padding: 15px 40px 40px 0px;
            right: 0;

            .table-img {
                height: 14px;
                width: 12px;
            }


            .marker-bg {
                background-image: url("../../assets/navImg/marker-bg.png");
                display: inline-block;
                padding: 5px 12px;
                color: @fontColor;
                background-size: 100% 100%;
            }

            .box-style {
                display: flex;

                div {
                    flex: 1;
                    padding: 5px 10px;
                }
            }

            .header-top {
                display: flex;

                .common {
                    flex: 1;
                    height: 65px;
                    padding: 0px 5px 10px 10px;
                }

                .line {
                    height: 70px;
                    width: 1px;
                    background: @fontColor;
                }

                .left-chart {
                    .common();
                }

                .right-chart {
                    .common();
                    padding-left: 20px;


                }
            }

            .button-change {
                .flexed {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    padding: 0px 24%;
                    /*padding: 0px 40px 0px 40px;*/

                    .title-button {
                        display: inline-block;
                        height: 30px;
                        width: 130px;
                        text-align: center;
                        line-height: 30px;
                        margin: 0px 15px;
                        cursor: pointer;
                        font-size: @chart-base-title;
                        border-radius: 8px 8px;
                        border: 1px solid @lineColorContent;
                    }

                    .checked {
                        color: @bgColor;
                        background: @lineColorContent;
                    }

                    .un-checked {
                        color: @lineColor;
                        background: @bgColor;
                    }
                }

                .title-line {
                    margin: 20px 0 0 40px;
                    width: 565px;
                    height: 2px;
                    background: @lineColorContent;
                    position: relative;

                    .triangle {
                        width: 0; /*设置宽高为0，所以div的内容为空，从才能形成三角形尖角*/
                        height: 0;
                        border-bottom: 15px solid @lineColorContent;
                        border-left: 15px solid transparent; /*transparent 表示透明*/
                        border-right: 15px solid transparent;
                        background: transparent;
                    }

                    .triangle-style {
                        position: absolute;
                        top: -16px;
                        .triangle();
                    }
                }

            }

        }

    }
</style>

