<!--单背景 圆角矩形 -->
<template>
    <div :style="{height:contentH,width:contentW}" class="box">
        <slot/>
    </div>
</template>

<script>
    export default {
        name: "BaseBox",
        props: {
            contentH: {
                default: '',
            },
            contentW: {
                default: '',
            }
        },
        data() {
            return {msg: 'hello vue'}
        },
        created() {

        }, components: {}, methods: {}
    }
</script>

<style lang="less" scoped>
    @import "../../assets/style/variables";

    .box {
        border-radius: 10px 10px;
        padding: 10px 10px;
        background: @opacityBg;
    }
</style>
