<template>
    <div id="app">
        <FlowAnalysis/>
    </div>
</template>

<script>
    import FlowAnalysis from './pages/hotmonitor/index'

    export default {
        name: 'App',
        components: {
            FlowAnalysis
        }
    }
</script>

<style lang="less">


    #app {
        font-family: Avenir, MicrosoftYaHei, Helvetica, Arial, sans-serif,;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    html, body {
        border: 0;
        padding: 0;
        margin: 0;
    }
</style>
