
<template>
    <div class="line-box-style">
        <header class="title-style">{{title}}</header>
        <footer class="value-style">{{value}}</footer>
    </div>
</template>

<script>
    export default {
        name: "LineBox",
        props: {
            title: {},
            value: {},
        },
        data() {
            return {msg: 'hello vue'}
        },
        created() {

        }, components: {}, methods: {}
    }
</script>

<style lang="less" scoped>
    @import "../../../assets/style/variables";

    .line-box-style {
        height: 50px;
        border: 1px solid @lineColor;
        border-radius: 10px 10px;
        margin: 0 7px;
        /*width: 100%;*/
        /*height: 100%;*/

        .title-style {
            color: @fontColor;
            font-size: @chart-base-title;
            line-height: 25px;
        }

        .value-style {
            color: @lineColorContent;
            font-size: @font-base-size;
            line-height: 25px;
        }
    }
</style>
