<template>
    <div class="login-bg">
        <div class="title">
            {{title}}
        </div>
        <div class="login-box">
            <div class="login-title">欢迎登录</div>
            <div class="login-input">
                <div class="icon"><img :src="userIcon" alt=""></div>
                <input type="text" v-model="loginForm.username" placeholder="请输入用户名"/>
            </div>
            <div class="login-input">
                <div class="icon"><img :src="passwordIcon" alt=""></div>
                <input type="password" v-model="loginForm.password" placeholder="请输入密码"/>
            </div>
            <div class="login-input">
                <div class="icon"><img :src="codeIcon" alt=""></div>
                <input type="text" class="code-style" v-model="loginForm.code" placeholder="请输入验证码"/>
                <div class="code-box">
                       <span
                               class="login-code-img"
                               @click="refreshCode"
                               v-if="code.type == 'text'"
                       >{{ code.value }}</span
                       >
                    <img
                            :src="code.src"
                            class="login-code-img"
                            @click="refreshCode"
                    /></div>
            </div>
            <div class="login-info">
                <div>手机号登录</div>
                <div>忘记密码</div>
            </div>
            <div class="login-button" @click="handleLogin">
                登录
            </div>
        </div>
    </div>
</template>

<script>
    import {randomLenNum} from "../../utils/util";
    import userIcon from '../../assets/img/userIcon.png'
    import passwordIcon from '../../assets/img/passwordIcon.png'
    import codeIcon from '../../assets/img/codeIcon.png'
    import {codeUrl} from "../../config";
    import LoginApi from '../../api/index'
    import {homeUrl} from "../../utils/baseUrl";

    export default {
        name: "index",
        data() {
            return {
                loginForm: {
                    username: "admin",
                    password: "inspur@Admin2022",
                    code: "",
                    randomStr: ""
                },
                code: {
                    src: "/code",
                    value: "",
                    len: 4,
                    type: "image"
                },
                userIcon: userIcon,
                passwordIcon: passwordIcon,
                codeIcon: codeIcon,
                title: '智慧应急平台',
                activeName: 'user',
                //登录类型  验证码登录|密码登录
                passwordType: "password",
            }
        },
        created() {
            this.refreshCode()

        }, components: {}, methods: {
            refreshCode() {
                this.loginForm.code = "";
                this.loginForm.randomStr = randomLenNum(this.code.len, true);
                this.code.type === "text"
                    ? (this.code.value = randomLenNum(this.code.len))
                    : (this.code.src = `${codeUrl}?randomStr=${this.loginForm.randomStr}`);
            },
            //登录
            handleLogin() {
                LoginApi.loginByUsername(this.loginForm).then(res => {
                    console.log(res)
                    localStorage.setItem('token', res.access_token);
                    // console.log(homeUrl)
                    window.location.href = homeUrl;
                }).catch(error => {
                    // debugger
                    console.log(error)
                })
            },
        }
    }
</script>

<style lang="less" scoped>
    .login-bg {
        height: 100vh;
        background-image: url("../../assets/img/loginBg.png");
        background-size: 100% 100%;

        .title {
            background-image: url("../../assets/img/titleBg.png");
            background-size: 100% 100%;
            height: 100px;
            width: 700px;
            line-height: 80px;
            text-align: center;
            margin: 0 auto;
            font-size: 45px;
            font-weight: 700;
            text-shadow: 2px 2px 5px rgba(0, 230, 248, 0.8);
            letter-spacing: 20px;
            color: #ffffff;
        }

        .login-box {
            background-image: url("../../assets/img/loginBox.png");
            background-size: 100% 100%;
            width: 540px;
            height: 450px;
            margin: 100px auto;
            box-sizing: border-box;
            padding: 20px 100px;

            .login-title {
                line-height: 80px;
                text-align: center;
                font-size: 35px;
                font-weight: 700;
                letter-spacing: 10px;
                color: #ffffff;
            }

            .login-input {
                display: flex;
                line-height: 70px;
                border-bottom: 1px solid #00E6F8;

                .icon {
                    height: 70px;
                    width: 70px;
                    text-align: center;
                    color: #00E6F8;

                    img {
                        margin: 20px 0;
                    }
                }

                input {
                    color: #00E6F8;
                    font-size: 20px;
                    width: 80%;
                    height: 70px;
                    border: none;
                    outline: none;
                    background: rgba(0, 0, 0, 0);
                }

                .code-style {
                    width: 45%;
                }

                .code-box {
                    width: 40%;
                    padding: 10px 0;
                    box-sizing: content-box;
                    position: relative;

                    img {
                        position: absolute;
                        top: 22%;
                        left: 20%;
                    }
                }


            }

            .login-info {
                display: flex;
                justify-content: space-between;
                color: #00E6F8;
                cursor: pointer;

                div:hover {
                    color: lighten(#00E6F8, 40%),
                }
            }

            .login-button {
                height: 50px;
                width: 120px;
                font-weight: 900;
                color: #00E6F8;
                font-size: 20px;
                text-align: center;
                line-height: 50px;
                margin: 20px auto;
                cursor: pointer;
                background-image: url("../../assets/img/button.png");
                background-size: 100% 100%;

                &:hover {
                    color: saturate(#00E6F8, 80%)
                }


            }


        }
    }

</style>
