<template>
    <div>
        <el-table
                :data="tableData"
                :height="tableHight"
                :header-cell-style="{fontSize:fontSize}"
                :cell-style="{fontSize:fontBodySize}"
                :row-class-name="tableRowClassName"
                :empty-text="emptyText||'暂无数据'"
        >
            <el-table-column
                    v-if="firstIndex"
                    label="序号"
                    width="55"
                    type="index"
                    style="color:#9FD7FF"
                    :index="indexMethod"
                    align="center"
            />

            <template v-for="(item,index) in tableHeader">
                <!--插槽-->
                <el-table-column
                        v-if="item.columnType==='slot'"
                        :key="index"
                        :prop="item.prop"
                        :label="item.label"
                        :width="item.width"
                        :align="item.align||'center'"
                        :fixed="item.fixed"
                >
                    <template slot-scope="scope">
                        <slot :name="item.slotName" :data="scope"/>
                    </template>
                </el-table-column>
                <el-table-column
                        v-else
                        :key="index"
                        :prop="item.prop"
                        :label="item.label"
                        :width="item.width"
                        :fixed="item.fixed"
                        align="center"
                >
                    <template slot-scope="scope">
                        <!--过滤器-->
                        <slot v-if="item.filterName" :name="item.filterName" :data="scope"/>
                        <!--正常数据-->
                        <div :class="'table-content'" :style="{color: item.fontColor||'#9FD7FF'}"
                             :title="scope.row[item.prop]"
                             v-else>{{ scope.row[item.prop] }}
                        </div>
                    </template>
                </el-table-column>

            </template>


        </el-table>
    </div>
</template>

<script>
    export default {
        props: {
            fontSize: {
                default: '16px'
            }, fontBodySize: {
                default: '16px'
            },
            tableHight: {
                default: 230,
            },
            tableData: {},
            tableHeader: {},
            emptyText: {},
            firstIndex: {
                type: Boolean,
                default: () => true,
            }
        },
        name: "index",
        data() {
            return {msg: 'hello vue'}
        },
        created() {

        },
        components: {},

        methods: {
            indexMethod(index) {
                return index + 1
            },
            tableRowClassName({rowIndex}) {

                if (rowIndex % 2 === 0) {
                    return 'single-bg';
                } else {
                    return 'double-bg';
                }


            }
        },
    }

</script>

<style scoped>
    @import "../../assets/style/common.css";



</style>
