<!--有黄色标题的背景-->
<template>
    <div class="content-box">
        <div class="title-bg" :style="titleBg">
            {{title}}
        </div>
        <div class="content" :style="{height: contentH,width:contentW}">
            <slot/>
        </div>
    </div>
</template>

<script>
    import FontNumber4 from '../../assets/navImg/font-number4.png'
    import FontNumber6 from '../../assets/navImg/font-number6.png'
    import FontNumber9 from '../../assets/navImg/font-number9.png'

    export default {
        name: "ContentBox",
        props: {
            title: {},
            contentW: {
                default: '643px'
            },
            contentH: {
                default: '230px'
            },
        },
        data() {
            return {
                titleBg: {}
            }
        },
        created() {
            this.titleBg = this.getTitleBg('643px', '33px');
        },
        components: {},
        methods: {
            //根据标题字数适配不同的背景
            getTitleBg(w, h) {
                let long = this.title.length;
                let result =
                    {
                        height: h,
                        width: w,
                        backgroundImage: '',
                        backgroundSize: '100% 100%',
                    };
                switch (long) {
                    case 4:
                    case 5:
                        result.backgroundImage = `url(${FontNumber4})`;
                        break;
                    case 6:
                    case 7:
                    case 8:
                        result.backgroundImage = `url(${FontNumber6})`;
                        break;
                    case 9:
                    case 10:
                    case 11:
                        result.backgroundImage = `url(${FontNumber9})`;
                        break;
                }
                return result
            },


        }
    }
</script>

<style lang="less" scoped>
    @import "../../assets/style/variables";

    .content-box {
        font-size: @chart-base-title;
        /*margin: 20px 0;*/
        margin-bottom: 20px;
        .title-bg {
            line-height: 33px;
            padding-left: 20px;
            font-weight: 900;
            color: @bgColor;
        }

        .content {
            background: @opacityBg;
            border-radius: 0 0 10px 10px;
            padding: 10px 10px;
        }
    }
</style>
