<!--折线图-->
<template>
    <div :id="chartId" :style="{height:chartH,width:chartW}"></div>
</template>

<script>
    import * as echarts from 'echarts'

    export default {
        name: "LineChart",
        props: {
            //图表ID
            chartId: {},
            //图表数据
            list: {},
            //X轴数据
            chartX: {},
            //y轴数据
            chartY: {},
            //图表高度
            chartH: {},
            //图表宽度
            chartW: {},
            //图表配置信息
            options: {}
        },
        data() {
            return {msg: 'hello vue'}
        },
        created() {
            // console.log("图表初始化", this.chartId)
        },
        watch: {
            list: {
                handler() {
                    // console.log('图表值改变', val);
                    if (this.list) {
                        this.initChart(this.list, this.options);
                    }

                }
            }
        },
        mounted() {

        },
        components: {},
        methods: {
            //初始化图表
            initChart(list, options = {}) {
                // console.log('图表渲染数据', list);
                console.log('options', options);
                let myChart = echarts.init(document.getElementById(this.chartId));
                options.xAxis.data = this.chartX || [];
                options.yAxis.data = this.chartY || [];

                list.forEach((value, index) => {
                    options.series[index].data = value
                });


                // console.log('options',options);
                myChart.setOption(options);
            },
        }
    }
</script>

<style scoped>

</style>
