<!--左边地图撒点按钮组件-->
<template>
    <div class="card-box" :class="{'checked-bg':isChecked}">
        <div class="icon" :style="iconStyle" ></div>
        <div class="content">{{name}} <span class="title-num">{{value}}</span> 个</div>
    </div>
</template>

<script>
    export default {
        name: "MarkerCard",
        props: {
            boxH: {},
            boxw: {},
            iconPath: {},
            name: {},
            value: {},
            isChecked: {},
        },
        computed: {
            iconStyle() {
                // console.log('computed')
                return {backgroundImage: `url(${this.iconPath})`}
            },
        },
        data() {
            return {msg: 'hello vue'}
        },
        created() {

        }, components: {}, methods: {}
    }
</script>

<style lang="less" scoped>
    @import "../../../assets/style/variables";

    .checked-bg {
        background: rgba(245, 198, 5, .6) !important;
        border: 1px solid @bgColor !important;
        color: #ffffff !important;
        .content{
            .title-num{
                color: @bgColor !important;
            }
        }
    }

    .card-box {
        margin: 10px 0px;
        border: 1px solid @lineColor;
        color: @lineColor;
        background: rgba(14, 51, 114, 0.6);
        border-radius: 8px 8px;
        padding: 8px 30px 8px 54px;
        display: flex;
        cursor: pointer;
        position: relative;
        width: 120px;

        .icon {
            position: absolute;
            top: 14px;
            left: 24px;
            height: 24px;
            width: 24px;
            background-size: 100% 100%;
        }

        .content {

            font-size: @font-base-size;
            font-weight: 700;

            .title-num {
                color: @lineColorContent;
                font-size: @title-nav;
                font-weight: 900;
            }
        }
    }
</style>
