<!--疫情面板内容-->
<template>
    <div class="my-panel">
        <div class="panel-content" v-for="(item,index) of list" :key="index">
            <div class="box-title">{{item.title}}</div>
            <div class="box-num-base" :class="[item.title===greenVal?'box-num-green':'box-num-red']" >{{item.number}}</div>
            <div class="box-grow " >较昨日 <span class="box-num-green">{{item.grow}}</span></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Panel",
        data() {
            return {
                greenVal:'累计治愈',
                list: [
                    {title: '新增确诊', number: 0, grow: '0'},
                    {title: '新增无症状', number: 0, grow: '0'},
                    {title: '现有确诊', number: 0, grow: '0'},
                    {title: '累计治愈', number: 1234, grow: '12'},
                ]
            }
        },
        created() {

        }, components: {}, methods: {}
    }
</script>

<style lang="less" scoped>
    @import "../../../assets/style/variables";

    .my-panel {
        display: flex;
        height: 140px;
        justify-content: center;
        align-items: center;

        .panel-content {
            flex: 1;
            height: 100%;
            /*border: 1px solid green;*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            /*align-items: center;*/
            .align {
                padding: 10px 0;
            }
            .box-title {
                flex: 1;
                color: #FFFFFF;
                font-size: 16px;
                .align()
            }

            .box-num-base {
                flex: 1;
                font-size: @title-nav;
                font-weight: 900;
                .align()
            }
            .box-num-green{
                color: @valGreen;
            }
            .box-num-red{
                color: @valRed;
            }

            .box-grow {
                flex: 1;
                color: #FFFFFF;
                font-size: 16px;
                .align()
            }
        }
    }
</style>
