<template>
    <div :id="mapId" :style="{height:mapH,width:mapW}"></div>
</template>

<script>

    import guangDong from '../../utils/guangdong'
    import AMapLoader from "@amap/amap-jsapi-loader";

    let AMaps = null;
    export default {
        AMaps,
        name: "Map",
        props: {

            //地图Id
            mapId: {},
            //地图高度
            mapH: {},
            //地图宽度
            mapW: {},
        },
        data() {
            return {
                myMap: null,
                oldMarker: null,
            }
        },
        created() {
            this.init();
        },
        mounted() {

        },
        components: {},
        methods: {
            init() {
                AMapLoader.load({
                    key: "7e6396f7ad64a4a1067332fc15fe8183",             // 申请好的Web端开发者Key，首次调用 load 时必填
                    version: "2.0",                                    // 指定要加载的 JSAPI 的版本，缺省时默认为 1.4.15
                    plugins: ['AMap.GeoJSON', 'AMap.Polygon'],       // 需要使用的的插件列表，如比例尺'AMap.Scale'等
                }).then((AMap) => {
                    AMaps = AMap;
                    this.initMaps();
                })

            },
            //初始化地图
            initMaps() {
                this.myMap = new AMaps.Map(this.mapId, {
                    center: [114.60, 23.50],
                    showLabel: false,
                    labelzIndex: 130,
                    skyColor: '#08399d',
                    zooms: [7, 13],
                    zoom: 8,
                    layers: [
                        new AMaps.TileLayer.Satellite({
                            rejectMapMask: true,
                            zIndex: 1,
                            opacity: 1
                        }),
                    ]
                });
                this.addPolygon();
                this.addMarker();


            },
            //添加覆盖物
            addPolygon() {
                // 创建 geoJSON 实例
                let geoJson = new AMaps.GeoJSON({
                    geoJSON: guangDong,   // GeoJSON对象
                    getPolygon: function (geojson, lnglats) {//还可以自定义getMarker和getPolyline
                        return new AMaps.Polygon({
                            path: lnglats,
                            fillOpacity: .2,
                            strokeColor: '#00F0FF',
                            fillColor: '#CCCCCC',
                        });
                    }
                });
                this.myMap.add(geoJson);
            }
            ,
            //添加点标记
            addMarker() {
                let markers = [];
                guangDong.features.forEach(val => {
                    let content = `<div class="marker-bg">${val.properties.name}</div>`;
                    let marker = new AMaps.Marker({
                        content: content,
                        position: new AMaps.LngLat(...val.properties.centroid),
                        title: val.properties.name,
                        clickable: true,
                        zIndex: 200,
                    });
                    let that = this;
                    marker.on('click', function () {
                        //去掉上一次选中的marker
                        if (that.oldMarker) {
                            that.removeMarker()
                        }
                        let name = marker.getTitle();
                        let position = marker.getPosition();
                        that.$emit('getArea', name);
                        //记录当前选中的marker
                        that.oldMarker=  that.addCheckedMarker('marker-bg-checked', name, [position.lng, position.lat])
                    });
                    markers.push(marker)
                });
                this.myMap.add(markers);
            },
            removeMarker(){
                let that=this;
                that.myMap.remove(that.oldMarker);
            },
            addCheckedMarker(className, name, val) {
                let content = `<div class="${className}">${name}</div>`;
                let marker = new AMaps.Marker({
                    content: content,
                    position: new AMaps.LngLat(val[0], val[1]),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
                    title: name,
                    clickable: true,
                    zIndex: 201,
                });
                console.log(marker);
                this.myMap.add(marker);
                return marker
            },

        }
    }
</script>

<style scoped>
    /*@import "../assets/style/variables";*/
    /deep/ .marker-bg {
        background-image: url("../../assets/navImg/marker-bg.png");
        display: inline-block;
        padding: 10px 15px;
        min-width: 50px;
        color: #9FD7FF;
        background-size: 100% 100%;
    }

    /deep/ .marker-bg-checked {
        background-image: url("../../assets/navImg/marker-bg-checked.png");
        display: inline-block;
        padding: 10px 15px;
        min-width: 50px;
        color: #fff;
        background-size: 100% 100%;
    }

</style>
