<!--导航栏右边的用户模块-->
<template>
    <div class="right-content">
        <div class="item">
            <img src="../../../assets/navImg/user.png" alt="" class="setting-icon">
            <div class="value-style">{{userName}}</div>
        </div>
        <div class="item">
            <img src="../../../assets/navImg/setting.png" alt="" class="setting-icon">
            <div class="value-style">设置</div>
        </div>
        <div class="item">
            <img src="../../../assets/navImg/exit.png" alt="" class="setting-icon">
            <div class="value-style">退出登录</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UserInfo",
        data() {
            return {userName: '苏苏'}
        },
        created() {

        }, components: {}, methods: {}
    }
</script>

<style lang="less" scoped>
    @import "../../../assets/style/variables";

    .right-content {
        position: absolute;
        right: 40px;
        width: 450px;
        line-height: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        .item {
            display: flex;
            overflow: hidden;
            align-items: center;
            margin: 0 15px;
            cursor: pointer;

            .setting-icon {
                height: 24px;
                width: 24px;
            }

            .value-style {
                color: #FFFFFF;
                font-size: @font-base-size;
                margin: 0 8px;
            }
        }


    }
</style>
