/*设计图颜色配置*/
@bgColor: #0E3372;
@lineColor: #00E6F8;
@fontColor:#9FD7FF;
@lineColorContent: #F5C605;
@opacityBg: rgba(4, 40, 72, 0.4);
@valGreen: #20FF92;
@valRed: #FF795E;

/**
  字体配置
 */
///*导航栏菜单字号*/
//@title-nav: 32px;
///*重点文字字号*/
//@title-pointer: 28px;
///*基本信息字号*/
//@font-base-size: 18px;
///*基本信息标题字号*/
//@chart-base-title: 16px;
///*基本信息字号*/
//@chart-base-size: 14px;

/*导航栏菜单字号*/
@title-nav: 30px;
/*重点文字字号*/
@title-pointer: 28px;


/*基本信息标题字号*/
@chart-base-title: 18px;
/*基本信息字号*/
@font-base-size: 16px;

/*图表基本信息字号*/
@chart-base-size: 16px;
