<!--有黄色标题的背景-->
<template>
    <div class="content-box">
        <div class="title-bg" :style="checkedBg">
            <div :class="[checked===title[0]?'checked-color':'unChecked-color']" @click="handleChange(title[0])">
                {{title[0]}}
            </div>
            <div :class="[checked===title[1]?'checked-color':'unChecked-color']" @click="handleChange(title[1])">
                {{title[1]}}
            </div>
        </div>
        <div class="content" :style="{height: contentH,width:contentW}">
            <slot/>
        </div>
    </div>
</template>

<script>
    import leftBg from "../../assets/navImg/left-check.png";
    import rightBg from "../../assets/navImg/right-check.png";

    export default {
        name: "ContentBox",
        props: {
            title: {},
            checked: {},
            contentW: {
                default: '643px'
            },
            contentH: {
                default: '230px'
            },
        },
        data() {
            return {
                titleBg: {}
            }
        },
        created() {

        },
        computed: {
            checkedBg() {
                return this.checked === this.title[0] ? {backgroundImage: `url(${leftBg})`} : {backgroundImage: `url(${rightBg})`}
            },
        },
        components: {},
        methods: {
            handleChange(val) {
                this.$emit('handleTitleChange', val)
            }
        }
    }
</script>

<style lang="less" scoped>
    @import "../../assets/style/variables";

    .content-box {
        font-size: @chart-base-title;
        /*margin: 20px 0;*/
        margin-bottom: 20px;

        .title-bg {
            display: flex;

            /*justify-content: space-between;*/
            background-repeat: no-repeat;
            line-height: 33px;
            padding-left: 20px;
            font-weight: 900;
            color: @bgColor;

            div {
                margin-right: 50px;
                cursor: pointer;
            }

            .checked-color {
                color: @bgColor;
            }

            .unChecked-color {
                color: @lineColorContent;

            }
        }

        .content {
            background: @opacityBg;
            border-top: 2px solid @lineColorContent;
            border-radius: 0 0 10px 10px;
            padding: 10px 10px;
        }
    }
</style>
